In [2]:
import pandas as pd
import numpy as np

In [3]:
DF =pd.read_csv(r'C:\Users\avira\Desktop\Random Inspirations\iris.data',header=None)
DF.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
type(DF)

pandas.core.frame.DataFrame

In [5]:
DF.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [6]:
DF.columns=np.array(['sepal_length','sepal_width','petal_length','petal_width','flower_type'])

In [7]:
DF.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
#All values in cm
#All values to mm
DF['sepal_lengthmm']=[i*10 for i in DF.sepal_length]

In [10]:
DF.head()

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_lengthmm
0,5.1,3.5,1.4,0.2,Iris-setosa,51.0
1,4.9,3.0,1.4,0.2,Iris-setosa,49.0
2,4.7,3.2,1.3,0.2,Iris-setosa,47.0
3,4.6,3.1,1.5,0.2,Iris-setosa,46.0
4,5.0,3.6,1.4,0.2,Iris-setosa,50.0

In [11]:
DF.drop(columns=['sepal_lengthmm'],inplace=True)
DF.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
DF.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [13]:
DF.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
DF['sepal_area']=[i*j for i,j in zip(DF.sepal_length,DF.sepal_width)]

In [15]:
DF.head()

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_area
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00

In [16]:
DF['petal_area']=[i*j for i,j in zip(DF.petal_length,DF.petal_width)]

In [17]:
DF.head()

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85,0.28
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70,0.28
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04,0.26
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26,0.30
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00,0.28

In [19]:
DF[DF.flower_type=='Iris-setosa'].describe()

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
count,50.00000,50.000000,50.000000,50.00000,50.000000,50.000000
mean,5.00600,3.418000,1.464000,0.24400,17.208800,0.362800
std,0.35249,0.381024,0.173511,0.10721,2.947688,0.183248
min,4.30000,2.300000,1.000000,0.10000,10.350000,0.110000
25%,4.80000,3.125000,1.400000,0.20000,15.040000,0.265000
50%,5.00000,3.400000,1.500000,0.20000,17.000000,0.300000
75%,5.20000,3.675000,1.575000,0.30000,19.155000,0.420000
max,5.80000,4.400000,1.900000,0.60000,25.080000,0.960000

In [21]:
DF[DF.flower_type=='Iris-versicolor'].describe()

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,5.936000,2.770000,4.260000,1.326000,16.526200,5.720400
std,0.516171,0.313798,0.469911,0.197753,2.866882,1.368403
min,4.900000,2.000000,3.000000,1.000000,10.000000,3.300000
25%,5.600000,2.525000,4.000000,1.200000,14.347500,4.860000
50%,5.900000,2.800000,4.350000,1.300000,16.385000,5.615000
75%,6.300000,3.000000,4.600000,1.500000,18.495000,6.750000
max,7.000000,3.400000,5.100000,1.800000,22.400000,8.640000

In [22]:
set(DF.flower_type)

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [23]:
DF[DF.flower_type=='Iris-virginica'].describe()

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
count,50.00000,50.000000,50.000000,50.00000,50.000000,50.000000
mean,6.58800,2.974000,5.552000,2.02600,19.684600,11.296200
std,0.63588,0.322497,0.551895,0.27465,3.458783,2.157412
min,4.90000,2.200000,4.500000,1.40000,12.250000,7.500000
25%,6.22500,2.800000,5.100000,1.80000,17.430000,9.717500
50%,6.50000,3.000000,5.550000,2.00000,20.060000,11.445000
75%,6.90000,3.175000,5.875000,2.30000,21.412500,12.790000
max,7.90000,3.800000,6.900000,2.50000,30.020000,15.870000

In [ ]:
DF[DF.flower_type=='Iris-virginica']#Filter

In [ ]:
#virginica mean 19.684600 11.296200
#setosa mean 17.2 0.36
#versicolor 16.526299, 5.720400

In [36]:
def getflower(sl,sw,pl,pw):
    sa=sl*sw
    pa=pl*pw
    diff1=abs(11.3-pa)
    diff2=abs(0.36-pa)
    diff3=abs(5.72-pa)
    if(diff3 <= diff2 and diff3 <= diff1):
        return 'Iris-versicolor'
    if(diff2 <= diff1 and diff2 <= diff3):
        return 'Iris-setosa'
    if(diff1 <= diff2 and diff1 <= diff3):
        return 'Iris-virginica'

In [37]:
DF['flowertype_predicted']=[getflower(a,b,c,d) for a,b,c,d in zip(DF.sepal_length,DF.sepal_width,DF.petal_length,DF.petal_width)]

In [38]:
DF.head()

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_area,petal_area,flowertype_predicted
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85,0.28,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70,0.28,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04,0.26,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26,0.30,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00,0.28,Iris-setosa

In [39]:
DF[DF.flowertype_predicted!=DF.flower_type]

,sepal_length,sepal_width,petal_length,petal_width,flower_type,sepal_area,petal_area,flowertype_predicted
70,5.9,3.2,4.8,1.8,Iris-versicolor,18.88,8.64,Iris-virginica
106,4.9,2.5,4.5,1.7,Iris-virginica,12.25,7.65,Iris-versicolor
119,6.0,2.2,5.0,1.5,Iris-virginica,13.20,7.50,Iris-versicolor
133,6.3,2.8,5.1,1.5,Iris-virginica,17.64,7.65,Iris-versicolor
134,6.1,2.6,5.6,1.4,Iris-virginica,15.86,7.84,Iris-versicolor

In [ ]:
#linear Regression